/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/node_modules
/dist
.DS_Store
package-lock.json
